body{
    padding: 0 30px;
    background-size: cover;

}
h1{
    color: aliceblue;
    text-align: center;
}
.image {
    height: 300px;
    width: 300px;
    background-size: contain;
}
.backimage{
    background-image: url("../images/3.jpg");
    background-repeat: no-repeat;
}
