body{
    margin: 0 30px;
    background-color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*меняет шрифт*;
}
 .header {
    font-size: 30px;
    margin: 20px 0;

}
.title {
    font-weight: bold;
margin: 20px 0;
}
.part {
    margin: 15px 0px;    
}
.strong {
    font-weight: bold;
}
.superscript {
    vertical-align: super;
    font-size: 13px;
}
.subscript {
    vertical-align: sub;
    font-size: 13px;

}
